*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #118ab2;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 1400px;
}

footer p{
    font-size: 24px;
    font-weight: 800;
}

main{
    position: relative;
    padding: 20px;
    height: 1600px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

main .content{
    background-color: #f2f2f2;
    padding: 10px;
    width: 1000px;
}

.sidebar{
    position: absolute;
    top: 0;
    right: 40px;
    padding-inline: 16px;
    padding-top: 20px;
    width: 200px;
    height: 400px;
    background-color: #ddd;
    margin-top: 20px;
}